.homepage {
	height: calc(100vh - 5rem);
	margin: 2.5rem;
	background-image: linear-gradient(
			rgba(36, 42, 46, 0.8),
			rgba(36, 42, 46, 0.8)
		),
		url('../bg.jpg');
	background-size: cover;
	background-position: center;
	padding: 2.5rem 5rem;
}

.homepage section {
	display: flex;
	flex-direction: column;
	height: 85%;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	text-align: center;
}

.homepage h1 {
	font-size: 4.5rem;
	line-height: 1.3;
}

.homepage h2 {
	width: 90%;
	font-size: 1.9rem;
	color: var(--color-light--1);
	margin-bottom: 2.5rem;
}

/* Media query */
@media screen and (max-width: 1023px) {
	.homepage h1 {
		font-size: 3rem;
	}

	.homepage h2 {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 500px) {
	.homepage {
		height: calc(100vh - 5rem);
	}
}

@media screen and (max-height: 500px) {
	.homepage {
		height: 500px;
	}
}

@media screen and (max-width: 479px) {
	.homepage h1 {
		font-size: 2.5rem;
	}

	.homepage h2 {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 450px) {
	.homepage {
		margin: 1rem;
		padding: 2.5rem 1rem;
	}
}
